@model GPLUSPLUS.Areas.seller.Models.Home.HomeShops
@{
    ViewBag.Title = "View1";
}





@*    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Free E-Commerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Areas/eshop/Content/images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Areas/eshop/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>100% Responsive Design</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Areas/eshop/Content/images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Areas/eshop/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>Free Ecommerce Template</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Areas/eshop/Content/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Areas/eshop/Content/images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>*@
<!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                @Html.Action("ShopTypesList", "Shops")
            </div>

            <div class="col-sm-9 col-sm-pull-3 padding-right" style="direction: rtl; text-align: right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center"> برخی از مراکز طرف قرارداد</h2>




                    <div id="myAgentsListPartial" style="padding: 0px; margin: 0px; font-family: Arial, Verdana; background-color: #fff; text-align: center; margin-top: 10px">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">


                                <!-- use jssor.slider.min.js instead for release -->
                                <!-- jssor.slider.min.js = (jssor.js + jssor.slider.js) -->
                                <script type="text/javascript" src="~/Content/AgentsContent/js/jssor.js"></script>
                                <script type="text/javascript" src="~/Content/AgentsContent/js/jssor.slider.js"></script>
                                <script>

                                    jssor_slider1_starter = function (containerId) {
                                        var _SlideshowTransitions = [
                                        //Zoom- in
                                        { $Duration: 1200, $Zoom: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseOutQuad }, $Opacity: 2 },
                                            //Zoom+ out
                                        { $Duration: 1000, $Zoom: 11, $SlideOut: true, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
                                            //Rotate Zoom- in
                                        { $Duration: 1200, $Zoom: 1, $Rotate: 1, $During: { $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Zoom: $JssorEasing$.$EaseSwing, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseSwing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                                            //Rotate Zoom+ out
                                        { $Duration: 1000, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } },

                                        //    //Zoom HDouble- in
                                        { $Duration: 1200, x: 0.5, $Cols: 2, $Zoom: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
                                            //Zoom HDouble+ out
                                        { $Duration: 1200, x: 4, $Cols: 2, $Zoom: 11, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $JssorEasing$.$EaseInExpo, $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },

                                        //    //Rotate Zoom- in L
                                        { $Duration: 1200, x: 0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Left: $JssorEasing$.$EaseSwing, $Zoom: $JssorEasing$.$EaseSwing, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseSwing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                                            //Rotate Zoom+ out R
                                        { $Duration: 1000, x: -4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInExpo, $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
                                            //Rotate Zoom- in R
                                        { $Duration: 1200, x: -0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Left: $JssorEasing$.$EaseSwing, $Zoom: $JssorEasing$.$EaseSwing, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseSwing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
                                            //Rotate Zoom+ out L
                                        { $Duration: 1000, x: 4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInExpo, $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } },

                                        //    //Rotate HDouble- in
                                        { $Duration: 1200, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseOutQuad, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                                            //Rotate HDouble- out
                                        { $Duration: 1000, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $JssorEasing$.$EaseInExpo, $Top: $JssorEasing$.$EaseInExpo, $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                                            //Rotate VFork in
                                        { $Duration: 1200, x: -4, y: 2, $Rows: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Row: 28 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseOutQuad, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
                                            //Rotate HFork in
                                        { $Duration: 1200, x: 1, y: 2, $Cols: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 19 }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseOutQuad, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } }
                                        ];

                                        var options = {
                                            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                                            $AutoPlayInterval: 1500,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                                            $PauseOnHover: 1,                                //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                                            $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                                            $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                                            $SlideDuration: 600,                                //Specifies default duration (swipe) for slide in milliseconds

                                            $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                                                $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                                                $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                                                $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                                                $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                                            },

                                            $ArrowNavigatorOptions: {                       //[Optional] Options to specify and enable arrow navigator or not
                                                $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                                                $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                                                $AutoCenter: 2,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                                                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                                            },

                                            $ThumbnailNavigatorOptions: {                       //[Optional] Options to specify and enable thumbnail navigator or not
                                                $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                                                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                                                $ActionMode: 1,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                                                $Lanes: 2,                                      //[Optional] Specify lanes to arrange thumbnails, default value is 1
                                                $SpacingX: 14,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                                                $SpacingY: 12,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                                                $DisplayPieces: 6,                             //[Optional] Number of pieces to display, default value is 1
                                                $ParkingPosition: 156,                          //[Optional] The offset position to park thumbnail
                                                $Orientation: 2                                //[Optional] Orientation to arrange thumbnails, 1 horizental, 2 vertical, default value is 1
                                            }
                                        };

                                        var jssor_slider1 = new $JssorSlider$(containerId, options);
                                        //responsive code begin
                                        //you can remove responsive code if you don't want the slider scales while window resizes
                                        function ScaleSlider() {
                                            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                                            if (parentWidth)
                                                jssor_slider1.$ScaleWidth(Math.max(Math.min(parentWidth, 960), 300));
                                            else
                                                $Jssor$.$Delay(ScaleSlider, 30);
                                        }

                                        ScaleSlider();
                                        $Jssor$.$AddEvent(window, "load", ScaleSlider);

                                        $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
                                        $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                                        //responsive code end
                                    };
                                </script>
                                <!-- Jssor Slider Begin -->
                                <!-- To move inline styles to css file/block, please specify a class name for each element. -->
                                <div id="sl_container" style="position: relative; top: 0px; left: 50px; width: 960px; height: 480px; background: #ffffff; overflow-x: scroll;">

                                    <!-- Loading Screen -->
                                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
                                        </div>
                                        <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;">
                                        </div>
                                    </div>

                                    <!-- Slides Container -->
                                    <div u="slides" style="cursor: move; position: absolute; left: 240px; top: 0px; width: 720px; height: 480px; overflow: hidden;">
                                        @foreach (var q in Model.RandomShops)
                                        {
                  
                                            <div>
                                                <a href="#openModalAgent"  class="Agent_@q.Shop_ID" >
                                                    <img u="image" src="data:image;base64,@System.Convert.ToBase64String(@q.Image)" /></a>
                                                <img u="thumb" src="data:image;base64,@System.Convert.ToBase64String(@q.ImageThumb)" />
                                            </div>
                                            <div>
                                                <a href="~/Agents/AgentRegister">
                                                    <img u="image" src="~/Images/AdvertiseAgent.png" />
                                                </a>
                                                <img u="thumb" src="~/Images/AdvertiseAgentsThumbnail.png" />
                                            </div>
   
                                        }
                                        @if (Model.RandomShops.Count() < 5) {
                                            for (int i = 0; i < 5; i++) { 
                                             <div>
                                                <a href="~/Agents/AgentRegister">
                                                    <img u="image" src="~/Images/AdvertiseAgent.png" />
                                                </a>
                                                <img u="thumb" src="~/Images/AdvertiseAgentsThumbnail.png" />
                                            </div>
                                            }
                                        }



                                    </div>

                                    <!--#region Arrow Navigator Skin Begin -->
                                    <style>
                                        /* jssor slider arrow navigator skin 05 css */
                                        /*
            .jssora05l                  (normal)
            .jssora05r                  (normal)
            .jssora05l:hover            (normal mouseover)
            .jssora05r:hover            (normal mouseover)
            .jssora05l.jssora05ldn      (mousedown)
            .jssora05r.jssora05rdn      (mousedown)
            */
                                        .jssora05l, .jssora05r {
                                            display: block;
                                            position: absolute;
                                            /* size of arrow element */
                                            width: 40px;
                                            height: 40px;
                                            cursor: pointer;
                                            background: url(../img/a17.png) no-repeat;
                                            overflow: hidden;
                                        }

                                        .jssora05l {
                                            background-position: -10px -40px;
                                        }

                                        .jssora05r {
                                            background-position: -70px -40px;
                                        }

                                        .jssora05l:hover {
                                            background-position: -130px -40px;
                                        }

                                        .jssora05r:hover {
                                            background-position: -190px -40px;
                                        }

                                        .jssora05l.jssora05ldn {
                                            background-position: -250px -40px;
                                        }

                                        .jssora05r.jssora05rdn {
                                            background-position: -310px -40px;
                                        }
                                    </style>
                                    <!-- Arrow Left -->
                                    <span u="arrowleft" class="jssora05l" style="top: 158px; left: 248px;"></span>
                                    <!-- Arrow Right -->
                                    <span u="arrowright" class="jssora05r" style="top: 158px; right: 8px"></span>
                                    <!--#endregion Arrow Navigator Skin End -->
                                    <!--#region Thumbnail Navigator Skin Begin -->
                                    <!-- Help: http://www.jssor.com/development/slider-with-thumbnail-navigator-jquery.html -->
                                    <style>
                                        /* jssor slider thumbnail navigator skin 02 css */
                                        /*
            .jssort02 .p            (normal)
            .jssort02 .p:hover      (normal mouseover)
            .jssort02 .p.pav        (active)
            .jssort02 .p.pdn        (mousedown)
            */

                                        .jssort02 {
                                            position: absolute;
                                            /* size of thumbnail navigator container */
                                            width: 240px;
                                            height: 480px;
                                        }

                                            .jssort02 .p {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 99px;
                                                height: 66px;
                                            }

                                            .jssort02 .t {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                                border: none;
                                            }

                                            .jssort02 .w {
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 100%;
                                                height: 100%;
                                            }

                                            .jssort02 .c {
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                width: 95px;
                                                height: 62px;
                                                border: #000 2px solid;
                                                box-sizing: content-box;
                                                background: url(../img/t01.png) -800px -800px no-repeat;
                                                _background: none;
                                            }

                                            .jssort02 .pav .c {
                                                top: 2px;
                                                _top: 0px;
                                                left: 2px;
                                                _left: 0px;
                                                width: 95px;
                                                height: 62px;
                                                border: #000 0px solid;
                                                _border: #fff 2px solid;
                                                background-position: 50% 50%;
                                            }

                                            .jssort02 .p:hover .c {
                                                top: 0px;
                                                left: 0px;
                                                width: 97px;
                                                height: 64px;
                                                border: #fff 1px solid;
                                                background-position: 50% 50%;
                                            }

                                            .jssort02 .p.pdn .c {
                                                background-position: 50% 50%;
                                                width: 95px;
                                                height: 62px;
                                                border: #000 2px solid;
                                            }

                                            * html .jssort02 .c, * html .jssort02 .pdn .c, * html .jssort02 .pav .c {
                                                /* ie quirks mode adjust */
                                                width /**/: 99px;
                                                height /**/: 66px;
                                            }
                                    </style>

                                    <!-- thumbnail navigator container -->
                                    <div u="thumbnavigator" class="jssort02" style="left: 0px; bottom: 0px;">
                                        <!-- Thumbnail Item Skin Begin -->
                                        <div u="slides" style="cursor: default;">
                                            <div u="prototype" class="p">
                                                <div class="w">
                                                    <div u="thumbnailtemplate" class="t"></div>
                                                </div>
                                                <div class="c"></div>
                                            </div>
                                        </div>
                                        <!-- Thumbnail Item Skin End -->
                                    </div>
                                    <!--#endregion Thumbnail Navigator Skin End -->
                                    <a style="display: none" href="http://www.jssor.com">Carousel Slider</a>
                                    <!-- Trigger -->
                                    <script>
                                        jssor_slider1_starter('sl_container');
                                    </script>
                                </div>
                                <!-- Jssor Slider End -->




                            </div>
                        </div>
                    </div>








                </div>
                <!--features_items-->

                <div style="margin-top:75px"></div>

                       @if (User.Identity.IsAuthenticated)
                    {

                        <div class="recommended_items">
                            <!--recommended_items-->
                            <h2 class="title text-center">6 مرکز جدید</h2>

                            <div id="Authrecommended-item-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @{
                        var counter = Model.NewShops.Count();
                        if (counter <= 3) { 
                        <div class="item active">
                                    @for (int i = 0; i < Model.NewShops.Count(); i++)
                                    {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive center-block" style="width: auto; height: 150px" />
                                                           @* <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].ShopName"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                    }
                                    else{
                            <div class="item active">
                                         @for(int i=0;i< 3;i++){
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive" />
                                                           @* <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                               @Model.NewShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                        <div class="item">
                                 @for (int i = 3; i < Model.NewShops.Count(); i++)
                                 {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive" />
                                                         @*   <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }

                                            </div>
                        
                        }
                        
                               }
                                </div>
                                <a class="left recommended-item-control" href="#Authrecommended-item-carousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right recommended-item-control" href="#Authrecommended-item-carousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!--/recommended_items-->
                        
                        
                        
                          <div class="recommended_items">
                            <!--recommended_items-->
                            <h2 class="title text-center">6 مرکز جدید در شهر شما</h2>

                            <div id="Highrecommended-item-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @{
                        var Highcounter = Model.NewSmartShops.Count();
                        if (Highcounter <= 3)
                        { 
                        <div class="item active">
                                    @for (int i = 0; i < Model.NewSmartShops.Count(); i++)
                                    {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewSmartShops[i].ImageThumb)" alt="" />
                                                         @*   <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewSmartShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewSmartShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                    }
                                    else{
                            <div class="item active">
                                         @for(int i=0;i< 3;i++){
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewSmartShops[i].ImageThumb)" alt="" />
                                                           @* <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewSmartShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewSmartShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                        <div class="item">
                                 @for (int i = 3; i < Model.NewSmartShops.Count(); i++)
                                 {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewSmartShops[i].ImageThumb)" alt="" />
                                                          @*  <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewSmartShops[i].ShopName
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewSmartShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }

                                            </div>
                        
                        }
                        
                               }
                                </div>
                                <a class="left recommended-item-control" href="#Highrecommended-item-carousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right recommended-item-control" href="#Highrecommended-item-carousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!--/recommended_items-->
                    }
                    else{
                   <div class="recommended_items">
                            <!--recommended_items-->
                            <h2 class="title text-center">6 مرکز جدید</h2>

                            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @{
                        var counter = Model.NewShops.Count();
                        if (counter <= 3) { 
                        <div class="item active">
                                    @for (int i = 0; i < Model.NewShops.Count(); i++)
                                    {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive center-block" style="width: auto; height: 150px" />
                                                           @* <h2>@Model.NewShops[i].</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewShops[i].ShopName 
                                                            </p>
                                                          @*  <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                    }
                                    else{
                            <div class="item active">
                                         @for(int i=0;i< 3;i++){
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive" />
                                                    @*        <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                               @Model.NewShops[i].ShopName 
                                                            </p>
                                                         @*   <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                        <div class="item">
                                 @for (int i = 3; i < Model.NewShops.Count(); i++)
                                 {
                                       <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.NewShops[i].ImageThumb)" alt="" class="img-responsive" />
                                                         @*   <h2>@Model.ScoreHighProducts[i].P_ScoreCost</h2>*@
                                                            <p style="direction: rtl; white-space: nowrap; width: 95%; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; text-align: center">
                                                                @Model.NewShops[i].ShopName 
                                                            </p>
@*                                                            <a href="#openModalbuyProduct" class="btn btn-default add-to-cart ProductBuy_@Model.ScoreHighProducts[i].P_ID"><i class="fa fa-shopping-cart"></i>خرید</a>*@
                                                            <a href="#openModalAgent" class="btn btn-default add-to-cart Agent_@Model.NewShops[i].Shop_ID"><i class="fa fa-shopping-cart"></i>توضیحات بیشتر</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }

                                            </div>
                        
                        }
                        
                               }
                                </div>
                                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!--/recommended_items-->
                }
            </div>
        </div>
    </div>
</section>



<style>
    .mynewmodalistAgent {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .mynewmodalistAgent:target {
            opacity: 1;
            pointer-events: auto;
        }

        .mynewmodalistAgent > div {
            width: 100%;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #01ffd2);
            background: -webkit-linear-gradient(#fff, #01ffd2);
            background: -o-linear-gradient(#fff, #01ffd2);
            height: 70%;
        }

    .closeAgent {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .closeAgent:hover {
            background: #00d9ff;
        }
</style>


<div class="container mynewmodalistAgent" id="openModalAgent">
    <!-- Title -->
    <div class="row" style="overflow: auto">
        <div class="col-sm-12" style="height: inherit;">
            <div class="row">
                <div class="col-lg-12">
                    <div id="openModalDescAgent" style="text-align:center">
                        <a href="#close" title="Close" class="closeAgent">X</a>
                        <h2>اطلاعات بیشتر</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align:center">
                    <div id="ModalDialog_LoadingAjent">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div id="ModalDialogDescimageAgent">
                    </div>
                </div>
                <div class="col-sm-4" style="direction: rtl; text-align: right">

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopNameAgent_Tittle">
                                <p>نام مرکز</p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopNameAgent">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopTypeAgent_Tittle">
                                <p>نوع فعالیت </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopTypeAgent">
                            </div>
                        </div>


                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopTellAgent_Tittle">
                                <p>شماره تماس </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopTellAgent">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopFaxAgent_Tittle">
                                <p>شماره فکس </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopFaxAgent">
                            </div>
                        </div>

                    </div>
                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopEmailAgentAgent_Tittle">
                                <p>ایمیل   </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopEmailAgentAgent">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopAddressAgent_Tittle">
                                <p>آدرس  </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopAddressAgent">
                            </div>
                        </div>

                    </div>


                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_PosterQuotesAgent_Tittle">
                                <p>شعار مرکز  </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_PosterQuotesAgent">
                            </div>
                        </div>

                    </div>


                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_ShopDescriptionAgent_Tittle">
                                <p>توضیحات   </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_ShopDescriptionAgent">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_WebSiteLinkAgent_Tittle">
                                <p>وب سایت    </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_WebSiteLinkAgent">
                            </div>
                        </div>

                    </div>

                    <div class="row" style="border-bottom: 3px solid white; background-color: #3b3c3c">
                        <div class="col-sm-4 col-sm-push-8" style="background-color: #3b3c3c; color: white">
                            <div id="ModalDialogDesc_InstagramLinkAgent_Tittle">
                                <p>اینستاگرام   </p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-pull-4" style="background-color: #b8b8b8; color: black">
                            <div id="ModalDialogDesc_InstagramLinkAgent">
                            </div>
                        </div>

                    </div>




                </div>
            </div>

        </div>
    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("a[class*='Agent_']").click(function () {
            var temp = $(this).attr('class').split("_");
            var myid = temp[1];
            $("#ModalDialog_LoadingAjent").append('  <img src="/Images/ajax-loader List.gif">');
            $("#ModalDialogDesc_ShopNameAgent").empty();
            $("#ModalDialogDesc_ShopTypeAgent").empty();
            $("#ModalDialogDesc_ShopTellAgent").empty();
            $("#ModalDialogDesc_ShopAddressAgent").empty();
            $("#ModalDialogDesc_PosterQuotesAgent").empty();
            $("#ModalDialogDesc_ShopDescriptionAgent").empty();
            $("#ModalDialogDesc_WebSiteLinkAgent").empty();
            $("#ModalDialogDesc_InstagramLinkAgent").empty();
            $("#ModalDialogDesc_ShopFaxAgent").empty();
            $("#ModalDialogDesc_ShopEmailAgentAgent").empty();
            $("#ModalDialogDescimageAgent").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetShoptDesc", "Shops")', // we are calling json method
                dataType: 'json',
                data: "id=" + myid,
                success:
                     function (response) {
                         $("#ModalDialogDesc_ShopNameAgent").append('<p> ' + response[0] + '</p>');
                         $("#ModalDialogDesc_ShopTypeAgent").append('<p>' + response[1] + '</p>');
                         $("#ModalDialogDesc_ShopTellAgent").append('<p>' + response[2] + '</p>');
                         $("#ModalDialogDesc_ShopFaxAgent").append('<p>' + response[3] + '</p>');
                         $("#ModalDialogDesc_ShopEmailAgentAgent").append('<p>' + response[4] + '</p>');
                         $("#ModalDialogDesc_ShopAddressAgent").append('<p>' + response[5] + '</p>');
                         $("#ModalDialogDesc_PosterQuotesAgent").append('<p>' + response[6] + '</p>');
                         $("#ModalDialogDesc_ShopDescriptionAgent").append('<p>' + response[7] + '</p>');
                         if (response[8] != "نامشخص") {
                             $("#ModalDialogDesc_WebSiteLinkAgent").append('<a href=' + response[8] + '" class="btn btn-social-icon btn-lg btn-instagram"><i class="fa fa-instagram"></i></a>');
                         }
                         if (response[9] != "نامشخص") {
                             $("#ModalDialogDesc_InstagramLinkAgent").append('<a href="https://www.instagram.com/' + response[9] + '" class="btn btn-social-icon btn-lg btn-instagram"><i class="fa fa-instagram"></i></a>');
                         }
                         //$.each(response, function (i, resp) {
                         //    $("#ModalDialogDesc").append('<p>' + resp + '</p>');
                         //}); // here we are adding option for States
                         for (var i = 10; i < response.length; i++) {
                             $("#ModalDialogDescimageAgent").append('  <img  src="data:image;base64,' + response[i] + '" class="img-responsive" alt="hi">');
                         }
                         $("#ModalDialog_LoadingAjent").empty();
                     },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });

        });
    });
</script>


