@model IEnumerable<GPLUSPLUS.Models.Shop>

@{
    ViewBag.Title = "لیست مراکز طرف قرارداد در انتظار";
}

<style>
    .datagrid {
      margin:auto;
   margin:40px 50px 40px 50px;
  font-family:B Koodak,Arial, sans-serif;
    direction:rtl;
    }

    .Actionlink_style {
    color:blue;
    font: normal 12px/150% ,B Koodak,Arial, sans-serif;
    }
     .Actionlink_style:hover {
    color:orange;
    text-decoration:underline;
    }
    .datagrid table { border-collapse: collapse; text-align: center; width: 100%; } 
    .datagrid {font: normal 12px/150% ,B Koodak,Arial, sans-serif; background: #fff; overflow: hidden; border: 1px solid #36752D; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
    .datagrid table td, .datagrid table th { padding: 3px 2px;text-align:center; }
    .datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');background-color:#36752D; color:#FFFFFF; font-size: 12px; font-weight: bold; border-left: 1px solid #36752D; } 
    .datagrid table thead th:first-child { border: none; }
    .datagrid table tbody td { color: #275420; border-left: 1px solid #C6FFC2;font-size: 12px;border-bottom: 1px solid #E1EEF4;font-weight: normal; }
    .datagrid table tbody .alt td { background: #DFFFDE; color: #275420; }
    .datagrid table tbody td:first-child { border-left: none; }
    
    .datagrid table tfoot td div { border: 1px solid #36752D;background: #DFFFDE;} 
    .datagrid table tfoot td { padding: 0; font-size: 12px } 
    .datagrid table tfoot td div{ padding: 2px; }
    .datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
    .datagrid table tfoot  li { display: inline; }
    .datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #36752D;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420) );background:-moz-linear-gradient( center top, #36752D 5%, #275420 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');background-color:#36752D; }
    .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #275420; color: #FFFFFF; background: none; background-color:#36752D;}
    div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

        .button_link {
            font-family:B Koodak,Arial, sans-serif;
             font: normal 12px/150% ,B Koodak,Arial, sans-serif;
          margin:auto;
    padding: 10px 15px;
    background-color:#36752D;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button_link:hover {
    background: #28d288;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button_link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
</style>
<div style="text-align:center;padding-top:120px;"> @Html.ActionLink("بازگشت به مدیریت محتوا", "Index",null,new{ @class = "button_link" })</div>
<div class="datagrid">
    
<table>
     <thead>
           <tr>
        <th>
            @Html.DisplayName("شماره قرارداد")
        </th>
        <th>
            @Html.DisplayName("نام")
        </th>
        <th>
           @Html.DisplayName("نام خانوادگی")
        </th>
        <th>
       @Html.DisplayName("شماره همراه")
        </th>
        <th>
          @Html.DisplayName("نام مرکز")
        </th>
        <th>
           @Html.DisplayName("توضیحات مرکز(شعار تبلیغاتی)")
        </th>
        <th>
          @Html.DisplayName("شماره تلفن مرکز")
        </th>
        <th>
          @Html.DisplayName("استان")
        </th>
        <th>
       @Html.DisplayName("شهرستان")
        </th>
        <th>
             @Html.DisplayName("آدرس")
        </th>
        <th>
         @Html.DisplayName("تاریخ درخواست")
        </th>
        <th>
           @Html.DisplayName("نوع صنف")
        </th>
        <th>
            @Html.DisplayName("درخواست کد امتیازی")
        </th>
        <th>
         @Html.DisplayName("درخواست بنر تبلیغاتی")
        </th>
        <th>
           @Html.DisplayName("درخواست صفحه شخصی")
        </th>
                   <th>
           @Html.DisplayName("آدرس اینستاگرام")
        </th>
                              <th>
           @Html.DisplayName("آدرس وب سایت شخصی")
        </th>
        <th>
             @Html.DisplayName("وضعیت درخواست")
        </th>
        <th></th>
    </tr>
</thead>
     <tfoot>
       <tr>
           <td colspan="5">
               <div id="paging">
                   <ul>
                       <li>
                           <a href="#">
                               <span>Previous</span>
                           </a>
                       </li>
                       <li>
                           <a href="#" class="active">
                               <span>1</span>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <span>2</span>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <span>3</span>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <span>4</span>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <span>5</span>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <span>Next</span>
                           </a>
                       </li>
                   </ul>
               </div>
               </tr>
   </tfoot>
     <tbody>
@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopTell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateJoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptBanner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptSite)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.InstagramAddress)
        </td>
            <td>
            @Html.DisplayFor(modelItem => item.PersonalSiteAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopRegisterStatus)
        </td>
        <td>
            @Html.ActionLink("پیگیری", "PendingShopActivate", new { id=item.Id }) |
            @Html.ActionLink("جزئیات", "Details", new { id=item.Id }) |
          
        </td>
    </tr>
}
</tbody>
</table>
    </div>